<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Create a new questionnaire</title>
</head>
<body>

	<h1>Create a new questionnaire</h1>

	<div>
		<form action="CreateProduct" method="POST">
			<input placeholder="Product name" type="text" name="productName"
				required> <br> <br> <input placeholder="Date"
				type="date" id="datefield" min="" name="date" required><br>
			<br> <input placeholder="Upload an image of the product"
				type="file" name="img" accept="image/*"><br> <input
				type="submit" value="Add product">
		</form>
	</div>

	<h1>Add a marketing question for a product</h1>


	<form action="AddQuestion" method="POST">
			<p>
				<label for="products">Choose a product:</label> <select name="productId" id="productId">
					<option th:each="product : ${products}" th:value="${product.id}"
						th:text="${product.name} + ' ' + ${product.date}"></option>
				</select>
			</p>
			<p>
				<textarea id="marketingQuestion" name="marketingQuestion" rows="2"
					cols="50" required></textarea>
			</p>
			<input type="submit" value="AddQuestion">
	</form>

</body>

<script>
	var today = new Date();
	var dd = today.getDate();
	var mm = today.getMonth() + 1; //January is 0 so need to add 1 to make it 1!
	var yyyy = today.getFullYear();
	if (dd < 10) {
		dd = '0' + dd
	}
	if (mm < 10) {
		mm = '0' + mm
	}
	today = yyyy + '-' + mm + '-' + dd;
	document.getElementById("datefield").setAttribute("min", today);
</script>

</html>