<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Create a new questionnaire</title>
</head>
<body>

	<div style="float: right;">
		<a th:href="@{/Logout}">LogOut</a> <br> <a
			th:href="@{/AdminPage}">AdminPage</a>
	</div>
	<h1>Create a new questionnaire</h1>

	<div>
		<form action="CreateProduct" method="POST" enctype="multipart/form-data">
			<input placeholder="Product name" type="text" name="productName"
				required> <br> <br> <input placeholder="Date"
				type="date" id="datefield" min="" name="date" required><br>
			<br> <input placeholder="Upload an image of the product"
				type="file" name="img" accept="image/*"><br> <input
				type="submit" value="Add product">
				<p th:if="${param.product}">Success: a new daily product has been added</p>
		</form>
	</div>

	<h1>Add a marketing question for a product</h1>


	<form action="AddQuestion" method="POST">
		<p>
			<label for="products">Choose a product:</label> <select
				name="productId" id="productId">
				<option th:each="product : ${products}" th:value="${product.id}"
					th:text="${product.name} + ' ' + ${product.date}"></option>
			</select>
		</p>
		<p>
			<textarea id="marketingQuestion" name="marketingQuestion" rows="2"
				cols="50" required></textarea>
		</p>
		<input type="submit" value="AddQuestion">
		<p th:if="${param.question}">Success: a new question has been added</p>
	</form>
	

</body>

</html>