<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Delete a questionnaire</title>
</head>
<body>

	<div style="float: right;">
		<a th:href="@{/Logout}">LogOut</a> <br> <a
			th:href="@{/AdminPage}">AdminPage</a>
	</div>
	
	<h1>Delete past product and its questionnaire</h1>

	<table th:unless="${#lists.isEmpty(products)}" style="width: 50%">
		<thead>
			<tr>
				<th>Product</th>
				<th>Image</th>
				<th>Date</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="product: ${products}">
				<td style="text-align: center"><span th:text="${product.name}">Product</span></td>
				<td style="text-align: center"><img
					th:if="${product.image} != null" width="150px"
					th:src="*{'data:image/png;base64,'+ product.getBase64Image()}"></td>
				<td style="text-align: center"><span th:text="${product.date}">Date</span></td>
				<td><a
					th:href="@{'/DeleteQuestionnaire?productId=' + ${product.id}}">
						Delete</a></td>
			</tr>
		</tbody>
	</table>
	<p th:if="${#lists.isEmpty(products)}">There are no past products</p>
</body>
</html>