<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>InspectionPage</title>
</head>
<body>
	<div style="float: right;">
		<a th:href="@{/Logout}">LogOut</a> <br> <a
			th:href="@{/AdminPage}">AdminPage</a>
	</div>
	<form th:if="${not #lists.isEmpty(dailyProducts)}" action="GetInfo"
		method="GET">
		<p>
			<label for="products">Choose a product to inspect:</label> <select
				name="productId" id="productId">
				<option th:each="product : ${dailyProducts}"
					th:value="${product.id}"
					th:text="${product.name} + ' ' + ${product.date}"></option>
			</select>
		</p>
		<input type="submit" value="Inspect">
	</form>

	<div th:if="${dailyProducts == null or #lists.isEmpty(dailyProducts)}">
		<p>No daily product has been created</p>
	</div>

	<div th:if="${prod != null}">
		<span th:text="'Name: ' + ${prod.name}"> </span> <br> <span
			th:text="'Date: ' + ${prod.date}"> </span> <br> <img
			width="200px"
			th:src="*{'data:image/png;base64,'+ prod.getBase64Image()}">
	</div>

	<div th:if="${questions != null}">
		<span>Questions: </span> <br>
		<ul>
			<li th:each="question : ${questions}"><span
				th:text="${question.text}"></span> <br>
		</ul>
		<span th:if="${#lists.isEmpty(questions)}">No marketing
			questions found</span>
	</div>

	<div th:if="${submissions != null}">
		<p
			th:text="${#lists.isEmpty(submissions)} ? 'Up to now, no review has been left' : 'Up to now, the following ' + 
			'reviews have been received for product ' + ${submissions[0].product.name}">
		</p>
		<ul>
			<li th:each="sub : ${submissions}"><span
				th:text="'User: ' + ${sub.user.username}"> </span>
				<table>
					<thead>
						<tr>
							<th>Question</th>
							<th>Answer</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="answer : ${sub.answers}">
							<td data-label="Question" th:text="${answer.question.text}"></td>
							<td data-label="Answer" th:text="${answer.text}"></td>
					</tbody>
				</table></li>
		</ul>
	</div>

	<div th:if="${cancelledSubs != null}">
		<p
			th:text="${#lists.isEmpty(cancelledSubs)} ? 'Up to now, no review has been cancelled' : 'Up to now, the following users have cancelled their reviews for ' + ${submissions[0].product.name}"></p>
		<ul>
			<li th:each="sub : ${cancelledSubs}"><span
				th:text="'User: ' + ${sub.user.username}"> </span></li>
		</ul>
	</div>

</body>
</html>