<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Leaderboard of today</title>
</head>
<body>

	<h1 id="date">Leaderboard of </h1>

        	<table style="width:50%">
            	<thead>
            	<tr>
                	<th> Username</th>
                	<th> Points</th>
            	</tr>
            	</thead>
            	<tbody>
            	<tr th:each="submission: ${submissions}">
                	<td style="text-align:center"><span th:text="${submission.user.username}"> Username </span></td>
                	<td style="text-align:center"><span th:text="${submission.points}"> Points </span></td>
            	</tr>
            	</tbody>
        	</table>
    	
	
</body><script>
n =  new Date();
y = n.getFullYear();
m = n.getMonth() + 1;
d = n.getDate();
document.getElementById("date").innerHTML += m + "/" + d + "/" + y;</script>
</html>