<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Leaderboard of today</title>
</head>
<body>

	<h1 id="date">Leaderboard of today</h1>

	<table th:unless="${#lists.isEmpty(submissions)}" style="width: 50%">
		<thead>
			<tr>
				<th>Username</th>
				<th>Points</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="submission: ${submissions}">
				<td style="text-align: center"><span
					th:text="${submission.user.username}"> Username </span></td>
				<td style="text-align: center"><span
					th:text="${submission.points}"> Points </span></td>
			</tr>
		</tbody>
	</table>
	 <p th:if="${#lists.isEmpty(submissions)}">No submission has been left yet</p>

</body>
</html>