<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>GamifiedMarketingWEB</display-name>

  <welcome-file-list>
    <welcome-file>LoginPage</welcome-file>
  </welcome-file-list>

	  <filter>
  <filter-name>LoginFilter</filter-name> 
      <filter-class>filters.LoginFilter</filter-class> 
 </filter> 
  <filter-mapping> 
    <filter-name>LoginFilter</filter-name> 
    <url-pattern>/Home</url-pattern>
	<url-pattern>/GreetingsPage</url-pattern>
	<url-pattern>/Leaderboard</url-pattern>
	<url-pattern>/QuestionnairePage</url-pattern>
	<url-pattern>/SubmitQuestionnaire</url-pattern>
	<url-pattern>/Banned</url-pattern>
  </filter-mapping>

	 <filter>
  <filter-name>BannedFilter</filter-name> 
      <filter-class>filters.BannedFilter</filter-class> 
 </filter> 
  <filter-mapping> 
    <filter-name>BannedFilter</filter-name> 
    <url-pattern>/Home</url-pattern>
	<url-pattern>/GreetingsPage</url-pattern>
	<url-pattern>/Leaderboard</url-pattern>
	<url-pattern>/QuestionnairePage</url-pattern>
	<url-pattern>/SubmitMarketingAnswers</url-pattern>
  </filter-mapping>

	<filter>
  <filter-name>AdminFilter</filter-name> 
      <filter-class>filters.AdminFilter</filter-class> 
 </filter> 
  <filter-mapping> 
    <filter-name>AdminFilter</filter-name> 
    <url-pattern>/DeletionPage</url-pattern>
	<url-pattern>/DeleteQuestionnaire</url-pattern>
	<url-pattern>/InspectionPage</url-pattern>
	<url-pattern>/GetInfo</url-pattern>
	<url-pattern>/CreationPage</url-pattern>
	<url-pattern>/CreateProduct</url-pattern>
	<url-pattern>/AddQuestion</url-pattern>
	<url-pattern>/SubmitQuestionnaire</url-pattern>
  </filter-mapping>
	
		  <filter>
  <filter-name>GreetingsFilter</filter-name> 
      <filter-class>filters.GreetingsFilter</filter-class> 
 </filter> 
  <filter-mapping> 
    <filter-name>GreetingsFilter</filter-name> 
	<url-pattern>/QuestionnairePage</url-pattern>
	<url-pattern>/SubmitQuestionnaire</url-pattern>
  </filter-mapping>


</web-app>